footer {
    .upper-footer {
        margin-top: 50px;

        .shapes {
            height: 150px;
            margin-right: auto;
            float: right;
            margin-bottom: 20px;
        }
    }

    .lower-footer {
        height: 50px;
        clear: right;
        background-color: $darkblue;
        p {
            padding-top: 5px;
            color: $white;
            margin: 0;
            text-align: right;

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    footer {
        .upper-footer {
            .shapes {
                height: auto;
                width: 100%;
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) 
and (max-width: 768px) {
    footer {
        .upper-footer {
            .shapes {
                height: auto;
                width: 100%;
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
and (max-width: 991px) {
    footer {
        .upper-footer {
            .shapes {
                height: auto;
                width: 100%;
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px)
and (max-width: 1200px) {
    footer {
        .upper-footer {
            .shapes {
                height: auto;
                width: 100%;
            }
        }
    }
}