.sociale-logo {
    height: 250px;
    padding-top: 60px;
    padding-left: 60px;
}

.head-logo {
    margin-top: 80px;
    height: 300px;
    width: auto;
}

.welcome-wrapper {
    position: relative;
    margin-top: -40px;

    .border-left {
        position: absolute;
        height: 140px;
    }

    .welcome-content-wrapper {
        margin-top: 50px;

        .welcome-content {
            padding-top: 30px;
            padding-left: 50px;
            padding-right: 50px;

            a {
                text-decoration: none;
                &:hover {
                    transition: .4s;
                }
            }
        }
    }

    .border-right {
        position: absolute;
        height: 140px;
        right: 0;
        bottom: -60px;
    }
}

.btns-wrapper {
    margin-top: 90px;
    padding-left: 50px;

    .btns {
        background-color: $blue;
        padding: 20px;
        font-family: 'TaubSans-Regular';
        color: $white;
        font-size: 22px;
        text-decoration: none;
        margin-right: 10px;

        &:hover {
            background-color: $orange;
            transition: .4s;
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .btns-wrapper {

       .btns {
        display: block;
        margin-top: 30px;
        text-align: center;
       }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) 
and (max-width: 768px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
and (max-width: 991px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px)
and (max-width: 1200px) {

}