@font-face {
    font-family: 'TaubSans-Super';
    font-style: normal;
    font-weight: normal;
    src: local('TaubSans-Super'), url('fonts/TaubSans-Super.woff') format('woff');
}

@font-face {
    font-family: 'TaubSans-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('TaubSans-Bold'), url('fonts/TaubSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'TaubSans-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('TaubSans-Medium'), url('fonts/TaubSans-Medium.woff') format('woff');
}

@font-face {
    font-family: 'TaubSans-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('TaubSans-Regular'), url('fonts/TaubSans-Regular.woff') format('woff');
}

h1 {
    font-family: 'TaubSans-Super';
    text-transform: uppercase;
    color: $darkblue;
    font-size: 40px;
}

h2 {
    font-family: 'TaubSans-Regular';
    text-transform: uppercase;
    font-style: italic;
    color: $orange;
    font-size: 35px;
}

h3 {
    font-family: 'TaubSans-Medium';
    color: $blue;
    font-size: 28px;
    line-height: 38px;
}

p {
    font-family: 'TaubSans-Regular';
    color: $black;
    font-size: 24px;
    line-height: 38px;
}

strong {
    font-family: 'TaubSans-Medium';   
}

ul {
    padding-left: 20px;

    li {
        font-family: 'TaubSans-Regular';
        color: $black;
        font-size: 18px;
        line-height: 38px;
    }
}